.movement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 16px;
    background-color: $color-fondo;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 10px;
    border: 1px solid $color-fuente2;

    .content {
        width: 100%;
        padding: 15px;

        h4 {
            font-family: $fuente-title;
            color: $color-fuente2;
            margin-bottom: 8px;
            font-family: $color-fondo;
            font-size: 16px;
            font-weight: bold;
        }

        p {
            font-family: $fuente-sutitulos;
            color: $color-fuente2;
            font-family: $fuente-sutitulos;
            font-size: 15px;
        }
    }

    .action {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "edictar eliminar"
            "precio precio";
        margin-right: 20px;

        .edi {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-bottom: 10px;
            grid-area: edictar;
            margin-right: 10px;
        }

        .eli {
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-bottom: 10px;
            grid-area: eliminar;
        }

        .red {
            color: $color-money1;
            grid-area: precio;
        }

        .green {
            color: $color-money2;
            grid-area: precio;
        }
    }
}