.movement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 16px;
    background-color: #e6f9ff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 10px;

    .content {
        width: 100%;
        padding: 15px;

        h4 {
            font-family: $fuente-title;
            color: $color-fuente2;
            margin-bottom: 8px;
            font-family: $fuente-title;
            font-size: 20px;
            font-weight: bold;
        }

        p {
            font-family: $fuente-sutitulos;
            color: $color-fuente1;
            font-family: $fuente-sutitulos;
            font-size: 15px;
        }
    }

    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-right: 10px;

        img {
            width: 25px;
            height: 25px;
            object-fit: contain;
            margin-bottom: 10px;
        }

        .red {
            color: $color-money1;
        }

        .green {
            color: $color-money2;
        }
    }
}