.splashScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $color-fuente2;

    img {
        vertical-align: middle;
        width: 350px;
        height: 350px;
        object-fit: contain;
    }

    h1 {
        color: $color-fondo;
        font-family: $fuente-title;
    }

    p {
        color: $color-fondo;
        font-size: 18px;
        font-family: $fuente-sutitulos;
    }
}