$color-primario: #009688;
$color-segundario: #4DB6AC;
$color-fondo: #ffffff;
$color-fuente1: #000000;
$color-fuente2: #00695C;
$color-money1: #D71313;
$color-money2: #16FF00;
$fuente-title: 'Playfair Display', sans-serif;
$fuente-sutitulos: 'Roboto', sans-serif;
$size-fuente1: 500;
$size-fuente2: 400;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}